@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', serif;
}

.hidden {
    display: none;
}

.error {
    color: rgb(179, 41, 41);
    border: 2px solid rgb(179, 41, 41);
}

.info {
    color: rgb(15, 146, 41);
    border: 2px solid rgb(15, 146, 41);
}